@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@100;400&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gentium Book Basic", "Helvetica Neue", serif;
}
h3,
p {
  margin: 5px;
}
input,
button {
  font-family: inherit;
}
button {
  color: inherit;
  cursor: pointer;
  background-color: white;
  display: block;
  margin: 10px auto;
  padding: 6px 20px;
}
