.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1600px;
  margin: 30px auto;
}
.books-div h1 {
  text-align: center;
}
.book {
  width: 350px;
  height: 400px;
  margin: 30px;
  padding: 20px;
  text-align: center;
  box-shadow: 3px 3px 10px 3px rgb(178, 178, 178);
  background-color: #e6e6e6;
}
